<div class="my-component">
	<div class="my-buttonkeeper">
		<button class="my-button" @onclick="GetTextAsync">Click me</button>
	</div>
</div>
<br />
<text>Text (in the component) : @Text</text>
<br />